<div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Create User</h3>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="userDetails.name" class="form-control" placeholder="Name">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="userDetails.idNumber" class="form-control" placeholder="IDNumber">
      </div>
  
      <div class="form-group">
        <input type="text" [(ngModel)]="userDetails.telephoneNumber" class="form-control" placeholder="TelephoneNumber">
      </div>

      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addUser(userDetails)">Create User</button>
      </div>
      <button class="btn btn-outline-primary btn-lg btn-block" routerLink="/user-list">View Users</button>
    </div>
  </div>